<script type="text/javascript">//<![CDATA[
XHR.poll(10, '<%=luci.dispatcher.build_url("admin/services/natcap/status")%>', null,
	function(x, data) {
		var obj;
		if (data) {
			if (obj = document.getElementById('natcap_domain'))
				obj.innerHTML = "<a href='https://" + data.domain + "/'>" + data.domain + "</a>";
		}
	}
);
//]]>
</script>

<fieldset class="cbi-section">
	<legend><%:Status%></legend>
	<table width="100%" cellspacing="10">
		<tr><td width="33%"><strong><%:VPN Domain%></strong></td><td><br /><span id="natcap_domain">-</span><br /><br />
		<a href="<%=luci.dispatcher.build_url("admin/services/natcap/get_openvpn_client")%>"><%:Download OpenVPN Client Config%></a><br /><br />
		<a href="<%=luci.dispatcher.build_url("admin/services/natcap/get_openvpn_client_udp")%>"><%:Download OpenVPN Client Config (UDP)%></a>
		</td></tr>
	</table>
</fieldset>
