<%#
	Copyright 2021-2022 Michael Zhang <probezy@gmail.com>
	Licensed to the public under the MIT License.
-%>

<%
local dsp = require "luci.dispatcher"
-%>

<div class="cbi-section">
	<p id="cpolar_status"><em><%:Collecting data...%></em></p>
</div>

<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=dsp.build_url("admin/services/cpolar/status")%>', null,
	function (x, data) {
		var cpolarStatusElm = document.getElementById('cpolar_status');
		if (data && cpolarStatusElm) {
			if (data.running) {
				var links = '<em><b><font color=green>cpolar <%:RUNNING%></font></b></em>';
				cpolarStatusElm.innerHTML = links;
			} else {
				cpolarStatusElm.innerHTML = '<em><b><font color=red>cpolar <%:NOT RUNNING%></font></b></em>';
			}
		}
	}
);

	(new XHR()).get('<%=dsp.build_url("admin/services/cpolar/version")%>', null,
		function(x, data)
		{
			if (x.status !== 200 || !data)
			{
				return;
			}

			var s, d;

			if ((s = document.getElementById('cbi-cpolar-main-cpolar_file')) && (d = s.getElementsByClassName('cbi-value-description')))
			{
				d[0].innerHTML = data.valid
					? String.format('<%:Version: %s%>', data.version)
					: String.format('<span style="color: red;">%s</span>', data.message);
			}
		}
	);
//]]></script>
