<script type="text/javascript">//<![CDATA[
XHR.poll(2, '<%=luci.dispatcher.build_url("admin", "services", "pppwn", "status")%>', null,
	function(x, data) {
		var tb = document.getElementById('pppwn_status');
		if (data && tb) {
			if (data.running) {
				var links = '<b><font color=green>PPPwn <%:RUNNING%></b></font>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<b><font color=red>PPPwn <%:NOT RUNNING%></b></font>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="pppwn_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>

