config natcapd 'default'
	option enabled '0'
	option _built_in_server '167.179.91.56'
	option config_version '0'
	option enable_encryption '1'
	option natcap_redirect_port '0'
	option natcap_client_redirect_port '0'
	option server_persist_timeout '3600'
	option server_persist_lock '0'
	option debug '3'
	option encode_mode '0'
	option udp_encode_mode '0'
	option pptpd '0'
	option sproxy '1'
	list gfwlist '8.8.8.8'
	list gfwlist '8.8.4.4'
	#list ignorelist_file '/usr/share/natcapd/C_cniplist.set'
	#option gfw_udp_port_list '80 443'
	list app_list '0.0.0.0/1,udp:80'
	list app_list '128.0.0.0/1,udp:80'
	list app_list '0.0.0.0/1,udp:443'
	list app_list '128.0.0.0/1,udp:443'
	list app_list '0.0.0.0/1,udp:2300-2310'
	list app_list '128.0.0.0/1,udp:2300-2310'
	list app_list '0.0.0.0/1,tcp:2300'
	list app_list '128.0.0.0/1,tcp:2300'
	list app_list '0.0.0.0/1,tcp:5938'
	list app_list '128.0.0.0/1,tcp:5938'
	option gfwlist_enable '1'
	option cnlist_enable '0'
	option full_cone_nat '1'
	option access_to_cn '0'
	option full_proxy '0'
	option enable_natflow '1'
	option enable_natflow_hw '1'
	option touch_timeout '16'
	option dnsproxy '1'
	option block_dns6 '1'
	option dns_proxy_drop '0'
	option peer_upstream_host 'ec2ns.ptpt52.com'
	list peer_host 'ec2ns.ptpt52.com'
	option u_hash '0'
	option u_mask '0'
	option protocol '1'
	option si_mask '0xff000000' #0xff000000
	option ni_mask '0x00800000' #0x00800000
	option peer_check '1'
	option peer_mode '0'
	option peer_max_pmtu '1420'
	option max_pmtu '1420'
	option peer_sni_ban '0'
	option peer_multipath '1'
	option cnipwhitelist_mode '0'
	#option cone_nat_unused_dst ''
	option cone_nat_unused_port '53 500 5001 5201 5351-5353'
	option peer_subtype '1'
	#list server '0.0.0.0:0-e-T-T'
	#list server1 '0.0.0.0:0-e-T-T'
	#option dns_proxy_server '0.0.0.0:0-e-T-T'
	#list gfwlist1_file '/tmp/getflix.set'
	#gfw0_dns_magic_server '0.0.0.10'
	#gfw1_dns_magic_server '0.0.0.11'
	#cn_domain_raw '/usr/share/natcapd/accelerated-domains.china.raw.build'
	option server_flow_limit '0'
	option server_flow_bill '1'
	option cn_domain_enabled '1'
	#option udp_seq_lock '1'
